extend /layout
include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header
include /mixins/hero_banpick
include /mixins/common_teams_dropdown

append head
    meta(property="og:title", content="Mock Ban-Pick: Cheuka's Dota")
    link(rel='stylesheet', href="/public/css/yasp_home.css")

if user
  block page_content
    #top.header.alt.vert(style='padding-top: 0; overflow-y:auto;overflow-x:hidden')
      // main captain mode block

      // title block
      .row()
        
        // tabs block
        .col-md-4 
          //(style='border: 1px white solid;')
          ul(class='nav nav-tabs', role='tablist', id='mytab')
            li(role='presentation', class='active') 
              a(href='#heroes', aria-controls='heroes', role='tab', data-toggle='tab') Heroes
            li(role='presentation') 
              a(href='#hero_combo', aria-controls='hero_combo', role = 'tab', data-toggle='tab') Combo
            li(role='presentation') 
              a(href='#bp2', aria-controls='bp2', role = 'tab', data-toggle='tab') Enemy Heat Map
            li(role='presentation') 
              a(href='#options', aria-controls='options', role = 'tab', data-toggle='tab') Options
        // tabs block end
        
        // team selection block

        .col-md-4 
          //(style='border: 1px white solid;')
          .row(style='min-height: 45px')
            span User:
            +common_teams_dropdown('home_team_sel')

            br

            span Enemy:
            +common_teams_dropdown('enemy_team_sel')


        // team selection block end

        // sequence block 
        .col-md-4
          .row(style='min-height: 45px')
            .col-md-6(style='border: 1px white solid;min-height: 45px')
              //.radio-inline
              input(type='radio', name='radiant_or_dire', value='radiant', onclick='clickRadioRadiantDire()', checked, disabled='true') 
              span.submit_button(style='font-size: 18px;', id='radiant_or_dire_helper_0') Radiant
              br
              //.radio-inline
              input(type='radio', name='radiant_or_dire', value='dire', onclick='clickRadioRadiantDire()',disabled='true') 
              span(style='font-size: 18px;', id='radiant_or_dire_helper_1') Dire 
            .col-md-6(style='border: 1px white solid;min-height: 45px')
              //.radio-inline
              input(type='radio', name='first_pick', value='first_pick', onclick='clickRadioFirstPick()', checked, disabled='true')
              span.submit_button(style='font-size: 20px;', id='first_pick_helper_0') First Pick
              br
              //.radio-inline
              input(type='radio', name='first_pick', value='second_pick', onclick='clickRadioFirstPick()',disabled='true')
              span(style='font-size: 20px;', id='first_pick_helper_1') Second Pick
 
            // p User side:
              select(name='user_side')
                option(selected) Radiant
                option Dire
            // p First Pick:
              select(name='first_pick')
                option(selected) First pick
                option Second pick
              button(name='confirm_sequence') OK
         
        // sequence block end
      // h4 Mock Ban Pick System (R)
      // h4 by Cheuka
      // img.img-responsive(src='/public/images/curlycue.png', style='margin: auto;')
  
      // hero slot block
        .row(style='border: 1px black solid;')
   
      // hero slot block end
    
      // main select block

      .row

        // left block
        .col-md-6(style='border: 1px white solid;')
      
          .tab-content
            .tab-pane(role='tabpanel', id='heroes', class='active')
              // hero block
              // strength hero block
              .row
            
                // radiant strength hero block
                .col-md-6
                    p Radiant: Strength
                    +hero_banpick_table("radiant_strength")
                // radiant strength hero block end

                // dire strength hero block
                .col-md-6
                    p Dire: Strength
                    +hero_banpick_table('dire_strength')
                // dire strength hero block end

              // strength hero block end

              // agility hero block
              .row
                // radiant agility hero block
                .col-md-6
                    p Agility:
                    +hero_banpick_table('radiant_agility')
                // radiant agility hero block end

                // dire agility hero block
                .col-md-6
                    p Agility:
                    +hero_banpick_table('dire_agility')
                // dire agility hero block end

              // agility hero block end

              // intelligence hero block
              .row

                // radiant intelligence hero block
                .col-md-6
                    p Intelligence:
                    +hero_banpick_table('radiant_intelligence')
                // radiant intelligence hero block end

                // dire intelligence hero block
                .col-md-6
                    p Intelligence:
                    +hero_banpick_table('dire_intelligence')
                // dire intelligence hero block end
              // intelligence hero block end
            // hero block end

            .tab-pane(role='tabpanel', id='hero_combo')
              
              p#combo_helper Start Banpick and see Team Combo
              table(style='display:none; min-height: 200px;')#hero_combo_table.table-striped

            .tab-pane(role='tabpanel', id='bp2')
              p#bp2_helper Select Enemy team and see Enemy heat map
              //
                table(style='display:none; min-height: 500px; overflow-y:scroll;')#bp2_table.table-striped
              #bp2_container
              //
                (style='background-color: gray;')

            .tab-pane(role='tabpanel', id='options')
              p options
        // left block end

        // right block
        .col-md-6(style='border: 2px yellow solid;')
      
          // control block
          div(style='height: 500px;')
        
            // team name block
            .row
     
              // left team name block
              .col-md-6
                h4#left_team_label Radiant Team
              // left team name block end

              // right team name block
              .col-md-6
                h4#right_team_label Dire Team
              // right team name block end

            // team name block end

            // main status block
            .row
              h3#main_status Status
            // main status block end

            // time block
            .row
          
              //left time block
              .col-md-3
                p Radiant Time:
                p#timer_0 00:00
              //left time block end
  
              //left reserve time block
              .col-md-3
                p Reserve Time:
                p#timer_2 02:10
              //left reserve time block end
              
              //right time block
              .col-md-3
                p Dire Time:
                p#timer_1 00:00
              //right time block end

              //right reserve time block
              .col-md-3
                p Reserve Time:
                p#timer_3 02:10
              //right reserve time block end
 
            // time block end

            // ban pick block
            .row

              // left ban pick block
              .col-md-6
           
                .row

                  // left ban block
                  .col-md-4 
                    p(style='margin:auto;') Ban
                    br
                    - for(var i = 0; i < 5; i ++)
                      .row(style='margin:auto;')
                        img(style='height:36px; width:60px; border: 1px solid white;', id='left_ban_' + i)
                  // left ban block end

                  // left pick block
                  .col-md-8
                    p(style='margin:auto;') Pick
                    br
                    .row
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#left_pick_0
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#left_pick_1
                    br
                    .row
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#left_pick_2
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#left_pick_3
                    br
                    .row
                      img(style='margin:auto; height: 36px; width:60px; border: 1px solid white;')#left_pick_4
 
                  // left pick block end

              // left ban pick block end

              // right ban pick block
              .col-md-6
           
                .row

                  // right ban block
                  .col-md-4
                    p(style='margin:auto;') Ban
                    br
                    - for(var i = 0; i < 5; i ++)
                      .row(style='margin:auto;')
                        img(style='height: 36px; width:60px; border: 1px solid white;', id='right_ban_' + i)
 
                  // right ban block end

                  // right pick block
                  .col-md-8
                    p(style='margin:auto;') Pick
                    br
                    .row
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#right_pick_0
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#right_pick_1
                    br
                    .row
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#right_pick_2
                      .col-xs-6 
                        img(style='height: 36px; width:60px; border: 1px solid white;')#right_pick_3
                    br
                    .row
                      img(style='margin:auto; height: 36px; width:60px; border: 1px solid white;')#right_pick_4
 
                  // right pick block end

              // right ban pick block end

            // ban pick block end
      
            br 
            br

            // main control block
            .row
              h3#hero_name Not Selected
            .row
              img(style='margin:auto; height: 48px; width:100px; border: 1px solid yellow;')#selected_hero
         
            br 

            .row
              .col-xs-6
                button#button1.btn-lg(onclick='button1_click()', disabled='true', style='color: red;').submit_button Start
              .col-xs-6
                button#button2.btn-lg(onclick='button2_click()', disabled, style='color: blue;').submit_button Cancel




          // control block end

          // chat block
          .row

          // chat block end

        // right block end

      // main select block end

      // main captain mode block end

      // log block 
      .row


      // log block end


else
  h2 Please log in to use all functionality


append footer_assets
  //
    script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5452f1e51eac0fc5", async="async")
  script(type="text/javascript", src="../public/js/user/banpick.js")
  script(type="text/javascript", src="https://d3js.org/d3.v4.min.js")
