body{
		background-color: #1C2023;
}
*{
	padding: 0;
		margin: 0;
}
.rep-titlebox{
	background-color: #111516;
	width: 100%;
	margin-top: 10px;
}
.rep-titlebox-ul{
	margin: 0 auto;
	width: 1100px;
	list-style:none;
}
.rep-titlebox-ul a{
text-decoration: none;
}
.rep-titlebox-ul  li{
	text-align: center;
	float: left;		
	margin-right: 60px;
	line-height: 50px;
	font-size: 12px;
	color: #6D767B;
}
.rep-titlebox-ul li:hover{
	/*background-color: #1C2023;*/
	color: white;
		border-bottom: 1px solid white;
}
.rep-active{
		color: white !important;
		border-bottom: 1px solid white;
}
.rep-titlebox-ul:after,.heroaga-ka:after{
			clear:both;
		content:"\200B";
		display:block;
		height:0;
}
.reptable{
	max-width: 1100px;
	background-color: #252a2d;
	color: #6f7478;
	border-spacing:0;
	border-collapse:collapse;
	text-align: center;
	box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.7);
}
.reptable thead{
	background-color: #121516;
}
.reptable tbody{
	font-size: 12px;
	color: #aaa;
}
.reptable-radiant{
}
.reptable-dire{
}
.rep-teamlogo{
	height: 45px;	
	width: 45px;	
	vertical-align: middle;
	border-radius: 50%;
	border: 1px solid #777777;
	box-shadow: 0 1px 2px #000000;
}
.rep-heroimg{
	height: 38px;
	width: 72px;
	vertical-align: middle;
	border: 2px solid #1c2022;
}
.rep-teamimg{
	height: 45px;
	width: 45px;
	vertical-align: middle;
	margin-right: 3px;
	border-radius: 50%;
	box-shadow: 0 1px 2px #000000;
}
.match-hero-img {
    height: 38px;
    vertical-align: middle;
    margin-right: 1px;
    margin-left: 1px;
    box-shadow: 0 1px 2px #000;
}
.reptable thead tr{
	color: #ddd;
}
.reptable tbody tr{
	height: 53px;
	border-bottom: 1px solid #1f2326;
	word-wrap:break-word;
word-break:break-all;
}
.reptable tbody tr:last-child{
	border-bottom: none !important;
}
.reptable tbody tr td a{
	font-size: 12px;
	text-decoration: none;
	color: white;
	line-height: 18px;
	vertical-align: middle;
}
.rep-goldcolor{
	color: #FDB522;
}

.herolevel{
	position: absolute;
	bottom: 7px;
	left: 25px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	line-height: 12px;
	padding: 1px;
	font-size: 12px;
}
.herolevel_kill{
	position: absolute;
	bottom: 7px;
	left: 14px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	line-height: 12px;
	padding: 1px;
	font-size: 12px;
}
.herolevel_farm{
	position: absolute;
	bottom: 7px;
	left: 16px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	line-height: 12px;
	padding: 1px;
	font-size: 12px;
}
.herolevel-eq{
	position: absolute;
	bottom: 7px;
	left: 16px;
	background-color: rgba(0,0,0,0.7);
	color: white;
	line-height: 12px;
	padding: 1px;
	font-size: 12px;
}
.heroofficial{
vertical-align: middle;
width: 18px;
padding-left: 1px;
}
.heroofficial-build{
vertical-align: top;
width: 18px;
padding-left: 1px;
}
.randint-eng{
	font-family: Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';;
	display: inline-block;
	height: 14px;	
	font-size: 14px;
	margin-bottom: 10px;
	vertical-align: top;
		line-height: 14px;
}
.randint-chi{
	font-family: Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';;
	display: inline-block;
	height: 30px;	
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 18px;
}
.dire-eng{
	font-family: Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';;
	display: inline-block;
	height: 14px;	
	font-size: 14px;
	margin-bottom: 10px;
	vertical-align: top;
	line-height: 14px;
}
.dire-chi{
	font-family: Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';;
	display: inline-block;
	height: 30px;	
	font-size: 22px;
		font-weight: bold;
}
.heroaga-eng{
	font-family: Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';;
	display: inline-block;
	height: 14px;	
	font-size: 14px;
	margin-bottom: 10px;
}
.heroaga-chi{
	font-family: Arial, 'Droid Sans', 'Hiragino Sans GB', 'Microsoft YaHei';;
	display: inline-block;
	height: 22px;	
	font-size: 22px;
	font-weight: bold;
}
/*heroaga*/
.reptable-heroaga tr{
	height: 71px;
}
.reptable-herodam tr{
	height: 71px;
}

.heroaga-radiant a img{
	height: 38px;
	box-shadow: 0 1px 2px #000;
	vertical-align: middle;
	margin: 0 1px;
	margin-top: 3px;
}
.heroaga-radiant-kd{
	color: #F03433;
	font-size: 20px;
	display: inline-block;
}
.heroaga-dire-kd{
	color: #9DC71D;
	font-size: 20px;
	display: inline-block;
}
.battleinfo{
	background-color: #1E2326;
}
/*herodam*/
.reptable-herodam tbody >tr >:last-child{
	border-right: none !important; 
	}
.reptable-herodam tbody >:last-child >td{
	border-bottom: none !important; 
	}
.reptable-herodam tbody >tr >:first-child{
border-bottom: 6px solid #22272A !important; 
	}
	.reptable-herodam tbody >:last-child >td{
border-bottom: none !important;	
}
.reptable-herodam_left tbody tr td{
	text-align: left;
}
.dma-first{
	width: 181px;
	border-top: 5px solid #F03433;
	background-color: #202528;
	border-right: 10px solid #22272A;
	text-align: center !important;
}
/*.reptable-heroaga tbody >tr >:last-child{
	border-right: none !important; 
	}
.reptable-heroaga tbody >:last-child >td{
	border-bottom: none !important; 
	}
.reptable-heroaga tbody >tr >:first-child{
border-bottom: 6px solid #22272A !important; 
	}
	.reptable-heroaga tbody >:last-child >td{
border-bottom: none !important;	
}*/
/*repbuild*/
.build-navigation{
	border: 1px solid #1C2022;
	width: 60px;
	height: 32px;
	margin-bottom: 2px;
}
.navigation{
	opacity: 0.4;
}
.navigation:hover{
	opacity: 1;
}
.navigattion-active{
	opacity: 1;
}
.build-navigation img{
	width: 100%;
	height: 100%;
}
.rep-build-box{
	width: 1100px;
	margin: 40px auto;
}
.rep-build-box-content{
	margin-bottom: 40px;
	width: 1009px;
}
.rep-hero-dirant{
	background-color: #252a2d;
}
.rep-hero-dire{
	background-color: #252a2d;
}

.rep-heroinfo-img{
	float: left;
	height: 38px;
	position: relative;
	margin-top: 11px;
	margin-left: 11px;
}
.rep-heroinfo-img >a >img{
	height: 38px;
	vertical-align: middle;
	margin: 0 1px;
	box-shadow: 0 1px 2px #000;
}
.rep-heroinfo-title{
	float: left;
	font-size: 16px;
	margin-left: 16px;
	margin-top: 11px;
}
.rep-heroinfo-title a{
	color:white;
	height: 18px;
	font-size: 16px;
	margin-bottom: 8px;
	text-decoration: none;
}
.rep-heroinfo-list{
	float: right;
	
}
.rep-heroinfo-list-shadow{
	float: right;
	height: 60px;
}
.rep-heroinfo-list-shadow img{
	width: 52px;
	box-shadow: 0 1px 2px #000;
	margin: 11px 11px 11px 0;
}
.rep-heroinfo-list:after,rep-hero:after,.rep-hero-dirant:after,.rep-hero-dire:after,.rep-skill-div:after,.rep-heroskillpoint-radiant:after,.rep-heroskillpoint-dire:after,.rep-heroskillnum:after,.rep-heroskillnumge:after,.maxtopbar:after,.rep-chart-ul1:after,.rep-chart-ul3:after{
		clear:both;
		content:"\200B";
		display:block;
		height:0;
	}
.rep-skill-icondiv{
float: left;
width: 116px;
	border-left: 5px solid #9DC71D;
			background-color: #22272A;
}
.repkill-battle-dire{
	color: #9DC71D;
	font-size: 14px;

}
.repkill-battle-radiant{
	color: #F03433;
	font-size: 14px;

}
.repkill-battle-info{
	color: #6E757B;
	font-size: 14px;

}
.rep-skill{
	float: left;
	border: none !important;
margin-left: 11px;
border-right: 1px solid #1F2326;
}
.rep-skill img{
	width: 37px;
height: 37px;
box-shadow: 0 1px 2px #000;
}
.damage2{
	display: inline-block;
	color: #F03433;
width: 60px;
}
.damage1{
	display: inline-block;
	color: #9DC71D;
		margin-left: 35px;
		width: 60px;
}
.rep-skill-icondiv >:first-child{
	margin-top: 15px;
}
.rep-skill-icondiv >:last-child{
	margin-bottom: 22px;
}

.rep-heroskillnum >div{
	text-align: center;
	width: 37px;
	height: 37px;
	float: left;
    border-right: 1px solid #1F2326;
    border-bottom: 1px solid #1F2326;
    background-color: #252a2d;	
}
.rep-heroskillnumge >div{
		width: 38px;
	height: 4px;
	float: left;
    border-right: 1px solid #1F2326;
    background-color: #22272A;	
}
.rep-heroskillevery-radiant-last >div{
	width: 33px;
	height: 33px;
	line-height: 33px;
	color: #EEC433 !important;
	border: 2px solid #EEC433 !important;
}
.rep-heroskillevery-radiant >div{
	width: 33px;
	height: 33px;
	line-height: 33px;
	color: #9DC71D;
	border: 2px solid #9DC71D;
}
.rep-heroskillevery-dire >div{
	width: 33px;
	height: 33px;
	line-height: 33px;
	color: #F03433;
	border: 2px solid #F03433;
}
.rep-heroskillpoint-radiant{
	background-color: #252a2d;
}
.rep-heroskillpoint-radiant >:first-child >div{
	border-top: 1px solid #1E2326;
}
.rep-heroskillpoint-radiant >:last-child{
	margin-bottom: 11px;
}
.rep-heroskillpoint-dire{
	background-color: #252a2d;
}
.rep-heroskillpoint-dire >:first-child >div{
	border-top: 1px solid #1E2326;
}
.rep-heroskillpoint-dire >:last-child{
}
.rep-heroskillnum,.rep-heroskillnumge{
	float: left;
}
.equipment{

}
.rep-item-equipment{
	float: left;
	margin-top: 5px;
		margin-right: 5px;
    background-color: #252a2d;	
}
.rep-item-equipment-content{
	display: block;
}
.rep-item-equipment-content .rep-equipment-img-build{
	padding-right: 5px;
}
.rep-item-equipment-content :last-child{
	padding-right: 0;
}
.rep-equipment-img-build{
	width: 60px;
	height: 60px;
	float: left;
	box-sizing: content-box;
	display: block;
	margin-bottom: 5px;
}

.rep-item-equipment-content:after,.equipment:after,.repvision-div:after,.vision-flag:after,.rep-chart-ul:after,.heatmap-div:after,.heatmap-div1:after,.item-equipment-farm:after,.clean:after,
.clean_float:after{
		clear:both;
		content:"\200B";
		display:block;
		height:0;
	}
	.rep-img-shadow img{
		position: relative;
		box-shadow: 0 1px 2px #000;
		width: 40px;
		height: 32px;
margin: 5px 10px 0 10px;

	}
	.rep-img-shadow{
		height: 43px;
	}
.equipment-img1{
		width: 30px;
		height: 30px;
		box-shadow: 0 1px 2px #000;
}
	.equipment-img1 img{
		width: 100%;
	}
	.equipment-img2{
		width: 32px;
		height: 26px;
		border: 2px solid #1c2022;
}
	.equipment-img2 img{
		width: 100%;
		height: 100%;
	}
	.item-equipment-time{
		color: #aaa;
		text-align: center;
	}
.build-tips{
	position: absolute;
	box-shadow: 0px 0px  10px  rgba(0,0,0,0.3);
	display: none;
	z-index: 100;
	width: 65px;
	height: 25px;
	color: #6D767F;
	background-color: #1E2326;
	border: 1px solid #2E3337;
	display: none;
}
.build-tips1{
	position: absolute;
	box-shadow: 0px 0px  10px  rgba(0,0,0,0.3);
	display: none;
	z-index: 100;
	width: 377px;
	height: 200px;
	color: #6D767F;
	background-color: #1E2326;
	border: 1px solid #2E3337;
	display: none;
}
/*repvision*/
.repvisiontable tbody{
	text-align: center;
}
.repvisiontable-ttr,.repvisiontable-str{
	color: white;
	text-align: center;
}
.repvison-boreder{
	border-left: 1px solid #1E2326;
}
.vision-img{
	width: 30px;
	display: inline-block;
	margin-right: 5px;

}
.vision-img img{
	width: 100%;
	vertical-align: middle;
	box-shadow: 0 1px 2px #000;
}
.vision-flag{
	margin-bottom: 20px;
}
.dotamap{
	margin: 0px auto;
	padding: 0;	
	height: 827px;
	width: 874px;
	position: relative;
}
.dotamap img{
	width: 100%;
	height: 100%;
}
.dotamapheart{
		margin: 0px auto;
	padding: 0;	
	position: relative;
	width: 512px;
	box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.7);
}
.dotamapheart img{
	width: 100%;
}
.dotamapson{
	position: relative;
}
.hero-heat-table{
	width: 355px;
	position: absolute;
	top: 0px;
	right: 60px;
}
.hero-heat-table >div{
	float: left;
}
.hero-heat-table-vision{
	position: absolute;
	top: 150px;
	left: 0px;
}

.radiant-fake-icon{
	position:absolute;
	width: 120px;
	height: 120px;
	margin: -7% 0 0 -7%;
	background-color: rgba(255,216,36,0.3);
	border: 3px solid #9DC71D;
	border-radius: 50%;
}
.dire-fake-icon{
	position:absolute;
	width: 120px;
	height: 120px;
		margin: -7% 0 0 -7%;
	background-color: rgba(255,216,36,0.3);
	border: 3px solid #F03433;
	border-radius: 50%;
}
.radiant-rel-icon{
	position:absolute;
	width: 60px;
	height: 60px;
	margin: -3.5% 0 0 -3.5%;
	background-color: rgba(36,206,255,0.3);
	border: 3px solid #9DC71D;
	border-radius: 50%;
	z-index: 100;
}
.dire-rel-icon{
	position:absolute;
	width: 60px;
	height: 60px;
	margin: -3.5% 0 0 -3.5%;
	background-color: rgba(36,206,255,0.3);
	border: 3px solid #F03433;
	border-radius: 50%;
	z-index: 100;
}
.tips{
	color: #6C757C;
	padding: 12px 6px 6px 6px;
	box-sizing: border-box;
	display: none;
	top: 0;
	position: absolute;
	max-width: 350px;
	background-color: #1E2326;
	z-index: 101;
	border:1px solid #2E3337;
	word-break: break-all;
}
.tipsimg1{
	width: 38px;
	height: 22px;
	display: inline-block;
}
.tipsimg2-radiant{
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	color: #9DC71D;
}
.tipsimg2-dire{
	line-height: 22px;
	display: inline-block;
	vertical-align: top;
	color: #F03433;
}
.tipsimg3{
		line-height: 22px;
	display: inline-block;
	vertical-align: top;
}
.tipsimg4{
	height: 22px;
	display: inline-block;
}
.tipsimg5{
		line-height: 22px;
	display: inline-block;
	vertical-align: top;
}
.tipsimg1 img{
	width: 100%;
	height: 100%;
}
.tipsimg4 img{
		height: 100%;
}
.radiant-heat,.dire-heat{
	width: 60px;
	height: 34px;
	margin: 2px 2px;
	opacity: 0.4;
	float: left;
}
.radiant-heat img,.dire-heat img{
	width: 100%;
}
.radiant-heat-vision,.dire-heat-vision{
	height: 38px;
	margin: 5px 1px;
	opacity: 0.4;
	box-shadow: 0 1px 2px #000;
	vertical-align: middle;
}
.radiant-heat-vision img,.dire-heat-vision img{
	height: 100%;
}
.heatmap-div{
	width: 1100px;
	margin: 40px auto 40px auto;
	position: relative;
}
.heatmap-div1{
	width: 1100px;
	margin: 15px auto 40px auto;
	position: relative;
}

/*runes*/
.reprunetable{
	text-align: center;
}
.reprunetable thead tr td{
	width: 157px;
}
.reprunetable tbody tr td{
	border-right: 1px solid #1F2326;
	border-top: 1px solid #1F2326;
}
.reprunes-border{
	border-right: 1px solid #1F2326;
}
.reprunetable-team tbody,.reprunes-th-thi,.reprunes-th-sec{
	text-align: center;
}

.runesimgGolden{
	width: 20px;
	height: 25px;
	display: inline-block;
}
.runesimgGolden img{
	width: 100%;
}
.runesimgInvisible{
	width: 16px;
	height: 20px;
	display: inline-block;
}
.runesimgInvisible img{
	width: 100%;
	height: 100%;
}
.runesimgRecovery{
	width: 22px;
	height: 21px;
	display: inline-block;
}
.runesimgRecovery img{
	width: 100%;
	height: 100%;

}
.runesimgPhantom{
	width: 18px;
	height: 20px;
	display: inline-block;
}
.runesimgPhantom img{
	width: 100%;
	height: 100%;
}
.runesimgSpeed{
	width: 18px;
	height: 20px;
	display: inline-block;
}
.runesimgSpeed img{
	width: 100%;
	height: 100%;
}
.runesimgDouble{
	width: 18px;
	height: 20px;
	display: inline-block;
}
.runesimgDouble img{
	width: 100%;
	height: 100%;
}
.Goldentext{
	display: inline-block;
	vertical-align:top;
	height: 20px;
color: #FA6D04;
}
.Invisibletext{
	display: inline-block;
	vertical-align:top;
	height: 20px;
color: #8951B2;
}
.Recoverytext{
	display: inline-block;
	vertical-align:top;
	height: 20px;
color: #55F701;
}
.Phantomtext{
	display: inline-block;
	vertical-align:top;
	height: 20px;
color: #FFED3D;
}
.Speedtext{
	display: inline-block;
	vertical-align:top;
	height: 20px;
color: #FA5438;
}
.Doubletext{
	display: inline-block;
	vertical-align:top;
	height: 20px;
color: #177BFA;
}

/*farm*/
.basic_x{
	position: absolute;
	color: #9f9f9f;
	bottom: 12px;
	right: 22px;	
}
.basic_y{
	position: absolute;
	color: #9f9f9f;
	top: 16px;
	left: 30px;	
}
.teamchartStyle{
	min-width:1100px;
	background-color: #252A2D;
	position: relative;
}
.rep_sources_x{
	position: absolute;
	color: #9f9f9f;
	bottom: 54px;
	right: 15px;	
	font-size: 14px;
}
.rep_sources_y{
	position: absolute;
	color: #9f9f9f;
	top: 17px;
	left: 29px;
}
.rep_farm_x{
	position: absolute;
	color: #9f9f9f;
	bottom: 10px;
	right: 50px;
}
.rep_farm_x1{
	position: absolute;
	color: #9f9f9f;
	bottom: 45px;
	right: 49px;
}
.rep_farm_y{
	position: absolute;
	color: #9f9f9f;
	top: 15px;
	left: 29px;
}
.rep-center{
	text-align: center;
	line-height: 12px;
	margin-top: 1px;
	}
.vision-text{
	display: inline-block;
	vertical-align: middle;
}
.item-equipment-farm{
	display: inline-block;
	margin: 0px 10px;
	vertical-align: middle;
}
.rep-chart-ul{
}
.rep-chart-ul li{
    float: left;
    font-size: 14px;
	list-style-type: none;
	background-color: #1C2023;
	margin-top: 5px ;
	padding: 10px 30px 10px 30px;
	color: #6D757B;	
	z-index: 4;
	position: relative;
}
.rep-chart-ul1{
}
.rep-chart-ul1 li{
    float: left;
    font-size: 14px;
	list-style-type: none;
	background-color: #1C2023;
	margin-top: 5px ;
	padding: 10px 30px 10px 30px;
	color: #6D757B;	
	z-index: 4;
	position: relative;
}
.rep-chart-ul3{
	margin-bottom: -20px;
}
.rep-chart-ul3 li{
    float: left;
    font-size: 14px;
	list-style-type: none;
	background-color: #1C2023;
	margin-top: 5px ;
	padding: 10px 30px 10px 30px;
	color: #6D757B;	
	z-index: 4;
	position: relative;
}
.rep-chart-ul3 li:hover{
	color: white;
	cursor:pointer;
}
.displayli
{
	background-color: #1C2023;
    color: white !important;
	z-index: 5;
	position: relative;
}
.displaythis{
	display: block !important;
}
.rep-team >div{
	display: none;
}
.rep-chart-ul li:hover{
	color: white;
	cursor:pointer;
}

.rep-chart-ul1 li{
    float: left;
    font-size: 14px;
	list-style-type: none;
	background-color: #1C2023;
	margin-top: 5px ;
	padding: 10px 30px 10px 30px;
	color: #6D757B;	
	z-index: 4;
	position: relative;
}
.displayli1
{
	background-color: #1C2023;
    color: white !important;
	z-index: 5;
	position: relative;
}
.displaythis1{
	display: block !important;
}
.rep-team >div{
	display: none;
}
.rep-chart-ul1 li:hover{
	color: white;
	cursor:pointer;
}
.equipment-box tbody tr{
	height: 53px;
}
.equipment-box thead tr{
border-bottom: 1px solid #1F2326;
	height: 30px;
}
.equipment-box tbody  td{
min-width: 80px;
word-wrap:break-word;
word-break:break-all;
}
.repfarm-dvances-img{
	height:26px;
	margin-bottom:-4px;
	box-shadow: 0 1px 2px #000;
}
.repfarm-dvances-img-div{
	display: inline-block;
	margin-top:5px
}
.farm-eqid{
	width: 150px;
	margin-left: 5px;
}
.build-eqid{
	width: 300px;
	height: 16px;
margin-bottom:5px;
}
.damageinfo-td{
	background-color: #1E2326;
	border-right:10px solid #202528;
	border-bottom:5px solid #202528;
}
.damageinfo{
	border: 1px solid #1E2326;
}
.players-eq{
	width: 30px;
	margin-right: 2px;
	margin-bottom: -3px;
}
.heat{
	position: relative;
}
.action_tips{
	position: absolute;
	bottom: 30px;
	left: -56px;
	width: 150px;
	min-height: 20px;
	opacity: 0.8;
	display: none;
	color: #000;
	text-align: center;
	background-color: #fff;
	border-radius:2px;
	text-shadow: rgb(217, 217, 217) 1px 1px 0px;
	font-size: 12px;
	padding: 5px;
}
.td{
position: relative;
}
.rollBox{width:1100px;margin:0 auto;position: relative;margin-top: 20px;}
.rollBox1{width:1060px;margin:0 auto;position: relative;}
.rollBox .Cont{width:1100px;overflow:hidden;margin:0 auto;}
.rollBox1 .Cont1{overflow:hidden;margin:0 auto;}
.rollBox .ScrCont{width:1100px;}
.rollBox1 .ScrCont1{width:1100px;}
*+html .rollBox .Cont .pic{width:130px;float:left;text-align:center;padding-right:30px;}
.rollBox .Cont .pic p{line-height:26px;color:#505050;}
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;}
#List1{margin: 0 auto;}
.img1,.img2{
width:30px;
height:105px;
display:block;
cursor:pointer;
margin-top:20px;
}
.img3,.img4{
width:20px;
height:112px;
display:block;
cursor:pointer;
margin-top:20px;
background-color: #1F2225;
}
.img1{
	background-image:url(/static/image/rep_runes/zuo.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 43.5%;
	left: -5%;
	}
.img2{
	background-image:url(/static/image/rep_runes/you.png);
	background-repeat: no-repeat;
	background-position: center center;
		position: absolute;
	top: 43.5%;
	right: -5%;
}
.img3{
	background-image:url(/static/image/rep_runes/L.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 0%;
	left: -1.5%;
	}
.img4{
	background-image:url(/static/image/rep_runes/R.png);
	background-repeat: no-repeat;
	background-position: center center;
		position: absolute;
	top: 0%;
	right: -1.5%;
}
/*lea*/
.league_table{
	background-color: #22272A;
	font-size: 12px;
}
.league_table tbody tr:hover{
	background-color: #2f2f2f;

}
.league_table thead{
	background-color: #1C1F22;
	cursor:pointer;
	color: #ddd;
	height: 30px;
}
.league_table thead tr{
	height: 30px;
}
.league_table tbody tr{
	border-bottom: 1px solid #1f2326;
	color: #aaa;
}
.league_table thead tr th:first-child{
	padding-left: 88px !important;
}
.lea_hero_img_list{
	vertical-align: middle;
	height: 45px;
	border-radius: 50%;
	box-shadow: 0 1px 2px #000000;
	margin-right: 15px;
}
.rep_heroimg_lea{

	width: 45px;
	vertical-align: middle;
	border: 2px solid #1c2022;
		margin-right: 15px;
}
.lea_eng{
	font-family: Microsoft YaHei;
	display: inline-block;
	height: 14px;	
	font-size: 14px;
	margin-bottom: 10px;
	color: white;
}
.lea_chi{
	font-family: Microsoft YaHei;
	display: inline-block;
	height: 24px;	
	font-size: 24px;
	font-weight: bold;
	color: white;
}
.lea_green{
	color: #1FA230;
}
.lea_yew{
	color: #D2A30B;
}
.lea_red{
	color: #DB3A25;
}
.vip_icon_rep_basic{
	position: absolute;
	top: 16px;
	left: 35px;
	width: 14px;
	height: 14px;
}
.vip_icon_rep_basic img{
	width: 100%;
}
.match-detail-info td{
	padding: 10px;
}
.rep-teamchart,.rep-teamchart1{
	box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.7);
}
