extend base_layout
include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header

block head
  //link(rel="import" href="/public/paper-fab-menu.html")
  link(rel='stylesheet', href="/public/css/yasp_home.css")

block page_content
  #top.header.alt.vert
    .container
      br
      br
      h1.home Cheuka's DOTA Analyzer
      p.lead 余彦子dota分析
      div &nbsp;
      if !user
          div.login
              form(action="", method="post")
                  h3 登录Cheuka's Dota Analyzer
                  br
                  label Username:
                      input(name='user_id')
                  br
                  br
                  label Password:
                      input(name='password', type='password')
                  br
                  br
                  button.submit_button(name='submit') login!
      else
          div 
              h3 Welcome, #{user} !




    
append footer_assets
  //these scripts must go at the end (can't be bundled) since they depend on content to be loaded
  script(src="/public/js/home/scroll.js")
  script(src="/public/js/home/animatedNavbar.js")
  script(src="/public/js/home/polymerFabs.js")
  script.
    var graphData = !{JSON.stringify(match.graphData)};
    generateCharts(graphData);  

