extend layout

block content
  .row.text-center
    .col-md-12
      h1 Fetch a Match
      img.img-responsive(src='../public/images/fetch_deco_resized.png', style='margin: auto;')
      br
      br
      div#request
        .form-group
          .row
            .col-md-4
            .col-md-4
              #match_id_text
                input#match_id_0.form-control(type='text' name='match_id' placeholder='Match ID')
              ul.small.text-left
                li Only works for public matches with replay available in client
            .col-md-4 
          .row
            if config.ENABLE_RECAPTCHA
              g-recaptcha#recaptcha(style="display:inline-block;", data-sitekey=rc_public, data-theme="dark", data-callback="requestSubmit")
            else
              button.btn.btn-default#submit(onclick="requestSubmit()") Fetch Match
      #progContainer(style="display:none")
        img(src="/public/images/gear.gif", style="display:none")#loading
        .progress
          .progress-bar.progress-bar-info.progress-bar-striped.active#upload-bar
        .progress
          .progress-bar.progress-bar-success.progress-bar-striped.active#parse-bar
      #messages


append footer_assets
  script(src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit",async,defer)
  //script(src="/socket.io/socket.io.js")
  script(src="/public/js/fetchMatch.js")
  script.
    requestForm(); 

