extend match

block match_content
  .row
    .col-md-12
      h2 Graphs
      h3 Radiant Advantage
      #chart-diff
      h3 Gold
      #chart-gold
  //
	+ad("banner3")

append footer_assets
script.
   // var graphData = !{JSON.stringify(match.graphData)};
   // generateCharts(graphData);

    var data = !{JSON.stringify(match.incomeData)};
    var diff = data.difference;
    var gold = data.gold;
    var xp = data.xp;
    var chart_diff =  c3.generate({
        bindto: "#chart-diff",
	data: {
	    x: 'time',
	    columns: diff,
	    type: 'area-spline'
	},
	axis: {
		x: {
		    type: 'timeseries',
		    tick: {
		    	format: function(x) {
				return moment().startOf('day').seconds(x).format("H:mm");
				}
		    },
		    label: 'Game Time'
		},
		y: {
		   label: 'Radiant Advantage'
		}
	},
	zoom: {
		enabled: true,
		rescale: true
	}
    });

    var chart_gold =  c3.generate({
        bindto: "#chart-gold",
	data: {
	    x: 'time',
	    columns: gold,
	    type: 'spline'
	},
	axis: {
		x: {
		    type: 'timeseries',
		    tick: {
		    	format: function(x) {
				return moment().startOf('day').seconds(x).format("H:mm");
				}
		    },
		    label: 'Game Time'
		},
		y: {
		   label: 'gold'
		}
	},
	zoom: {
		enabled: true,
		rescale: true
	}
    });



