mixin hero_banpick(hero_id)
  - var hero = constants.heroes[hero_id]
  if hero
    img.img-sm.hero_button(id='hero_' + hero_id, src=hero.img, title=hero.localized_name, onclick='pick_hero(' + hero_id + ');', style='height: 25px; width:40px;')=hero.localized_name
      // img.img-sm.hero_mask(id='hero_mask_' + hero_id, style='background-color: black; opacity:75%; z-index: 5; height: 24px; width:43px;', display='none')
  else
    =hero_id


mixin hero_banpick_table(term)
  table(style='margin:auto;')#hero_table
    tbody
      - for(var i=0; i < 6; i ++)
        tr
          - for(var j = 0; j < 5; j ++)
            - var num = i * 5 + j
            //
              - console.log('DEBUG term:' + term);
              - console.log('DEBUG num:' + num)
              - console.log('DEBUG hero:' + constants.banpick_heroes[term][num])
            if num < constants.banpick_heroes[term].length
              td          
                +hero_banpick(constants.banpick_heroes[term][num])
            else
              - break
